[submodule "u-boot"]
	path = u-boot
	url = git@github.com:venom668-pinebookpro/u-boot
	branch = master
[submodule "mesa-git"]
	path = mesa-git
	url = git@github.com:venom668-pinebookpro/mesa-git
	branch = master
[submodule "linux-pbp"]
	path = linux-pbp
	url = git@github.com:venom668-pinebookpro/linux-pbp
	branch = master
[submodule "libva-v4l2-request-git"]
	path = libva-v4l2-request-git
	url = git@github.com:venom668-pinebookpro/libva-v4l2-request-git
	branch = master
[submodule "ap6256-firmware"]
	path = ap6256-firmware
	url = git@github.com:venom668-pinebookpro/ap6256-firmware
	branch = master
[submodule "anbox-image"]
	path = anbox-image
	url = git@github.com:venom668-pinebookpro/anbox-image
	branch = master
[submodule "anbox"]
	path = anbox
	url = git@github.com:venom668-pinebookpro/anbox
	branch = master
